<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="/main.js"></script>

        <title>Test</title>
    </head>

    <body>
    <header>
        <div class="logo">
            <!-- Add your logo here -->
            Logo
        </div>
        <nav>
            <!-- Add navigation items here if necessary -->
            Navigation
        </nav>
    </header>

    <main>
        <section style="text-align:center">
            <h1>Enter Article Text for Sentiment Analysis</h1>
            <form id="form" class="form" onsubmit="return handleSubmit(event)">
                <label for="inputUrl">Article text:</label>
                <input id="inputUrl" type="text" value="" placeholder="Enter your url here">
                <input type="submit" value="Submit">
            </form>
        </section>

        <section class="results-outer" style="text-align:center">
            <div class="results">
                <strong>Evaluation Results:</strong>
                <p>your request was:</p>
                <div id="results"></div>
                <div id="sentiment">Sentiment: <span id="sentiment-result">waiting...</span></div>
                <div id="confidence">Confidence: <span id="confidence-result">waiting...</span></div>
                <div id="agreement">Agreement: <span id="agreement-result">waiting...</span></div>
                <div id="subjectivity">Subjectivity: <span id="subjectivity-result">waiting...</span></div>
                <div id="irony">Irony: <span id="irony-result">waiting...</span></div>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    </body>
</html>
